/* General body styles */
/* light purple. possible secendary backgorund color rgb(122, 127, 191) */
body {
    margin: 0;
    padding: 0;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex; 
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #5a62c8, 50%,#868bc5 70%); /* Blue gradient background */
    font-family: var(--font-family);
}

/* Main container to hold the two columns */
.main-container {
    display: flex;
    width: 100%;
    height: 100vh;
    gap: 80px;
    padding-left: 50px;
    align-items: center; /* Nessescary? */
}

/* Registration container */
article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    flex: 1;
    padding: 20px;
    box-sizing: border-box; /* Include padding in the width */
}

/* Title */
.tittle h1{
    color: var(--secondary-text-color);
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

/* Sub title */
.tittle h2 {
    color: var(--secondary-text-color);
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
}

/* Form flexbox container */
.registration-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%; 
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.93);
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* 3D shadow effect */
    max-width: 800px; 
    margin: 0;
}

/* Error messages */
p {
    font-size: 1rem;
    margin-bottom: 15px;
}

.illustration {
    flex: 1%; /* Take up 50% of the width */
    padding-top: 180px; /* Center the image, will fix later on so it alignes with the form and not the article*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.registration-container input:focus {
    background-color: rgba(188, 191, 235, 0.286); /* Light blue when focused */
}

/* Input fields */
.registration-container input {
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px 0;
    border: 1px solid var(--primary-background-color);
    border-radius: 8px;
    color: var(--primary-text-color);
    font-size: 1rem;
    outline: none;
    transition: background-color 0.2s ease;
    background-color: rgba(188, 191, 235, 0.286);
}


/* Label styling*/
.registration-container label {
    font-weight: bold;
    color: var(--primary-text-color);
    margin-bottom: 5px;
    text-align: left;
}

/* Button styling */
.registration-container button {
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
    background-color: var(--primary-button-color);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.registration-container button:hover {
    background-color: var(--secondary-button-color);
}

.registration-container button:disabled {
    background-color: #cccccc; /* Grey color when disabled */
    cursor: not-allowed;
}

.SuccessMessage {
    color: green;
    font-size: 1rem;
    margin-bottom: 15px;
}
.ErrorMessage {
    color: red;
    font-size: 1rem;
    margin-bottom: 15px;
}

@media only screen and (max-width: 600px) {
    .main-container {
        flex-direction: column;
        padding: 20px;
        height: 70vh;
        margin: 10px;
    }

    article {
        padding: 10px;
    }

    .illustration {
        padding-top: 0;
        display: none;
    }

    .registration-container {
        padding: 20px; 

    }
    
}

