.homepage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    padding-top: 50px; /* Prevent overlap with navbar */
}

.swopp-logo {
    width: 600px; /* Adjust the width for larger screens */
    padding-top: 60px;
}

.order-container {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: transparent;
    box-shadow: none;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .swopp-logo {
        width: 200px; /* Adjust the width for smaller screens */
    }

    .order-container {
        padding: 10px;
    }
}