body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: linear-gradient(rgb(91, 99, 200), rgb(200, 200, 248) 80%);
  }

  html {
    height: 100vh;
  }
  
  :root {
    --font-family: 'Roboto', sans-serif;
    --primary-background-color: rgb(91, 99, 200);
    --secondary-background-color: rgb(252, 252, 255);
    --primary-text-color: #252424;
    --secondary-text-color: #fff;
    --hover-color: #cec8f0;
    --button-color: rgb(91, 99, 200);
  
  }
  .MainIndex {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.2rem;
    font-family: var(--font-family);
  }

  .MainIndex button{
    width: 350px;
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 5px;
    background-color: var(--button-color);
    color: var(--secondary-text-color);
    font-family: var(--font-family);
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  button:hover{
    opacity: 0.7;

  }