.btn-create {
    background-color: rgba(251, 251, 251, 0.251);
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s;
    font-size: 25px;
    
}

.btn-create:hover {
    background-color: rgba(159, 159, 159, 0.22);

}

.btn-create:disabled {
    background-color: #9ca3af;
    cursor: not-allowed;
}

.order-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    margin-bottom: 2rem;
    width: 100%;
}

.order-title h2 {
    font-size: 50px; 
    font-weight: bold;
    text-align: center; /* Center the text */
    margin-bottom: 1rem; /* Add some space below the title */
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: var(--secondary-background-color);
    padding: 2rem;
    border-radius: 10px;
    max-width: 90%;
    width: 600px;
    max-height: 90vh;
    overflow-y: auto;
}

.loading-spinner {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #f3f3f3;
    border-top: 2px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-right: 8px;
}

.my-orders-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-bottom: 90px;
}

.my-orders-empty h2 {
   font-size: 40px;
   font-weight: bold;
}

.my-orders-empty p {
    font-size: 15px;
 }

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.order-header-details {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  
  .order-created-at {
    font-size: 0.85rem;
    color: #666;
  }
  
  .order-number {
    margin: 0;
    font-size: 1.25rem;
    font-weight: 600;
    color: #333;
  }