body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  box-sizing: border-box;
}

/* Apply box-sizing globally */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.userpage-container {
  display: flex;
  width: 100%;
  padding-top: 50px; /* Prevent overlap with navbar */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.user-content-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh; 
  overflow: hidden;
}

.profile-section {
  flex: 0 0 30%; /* Fixed at 30% width */
  height: 100%; 
  background-color: var(--secondary-background-color);
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto; /* Allow vertical scrolling if content overflows */
  border-radius: 10px;
  background-size: cover;
  background-position: center;
}

.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.8); /* Add a semi-transparent background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.profile-picture-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  border: 3px solid #fff; /* Add a border to the profile picture */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.profile-info h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--main-text-color);
}

.profile-info p {
  font-size: 16px;
  color: var(--main-text-color);
}

.orders-section {
  flex: 1; /* Take the remaining 70% */
  background-color: var(--main-background-color);
  padding: 20px;
  overflow-y: auto; /* Allow vertical scrolling if content overflows */
}

.orders-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.order {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Mobile styling */
@media (max-width: 768px) {
  .userpage-container {
      padding-top: 50px;
  }

  .profile-section {
      display: none; /* Hide profile section on mobile mode */
      flex: column; 
      width: 100%; 
      height: auto; 
  }

  .profile-section.show {
      display: block; 
      margin-top: 20px; 
  }

  .toggle-profile-button {
      display: block; /* Show toggle button on mobile */
      position: absolute; 
      top: 10px; /* Position it at the top */
      left: 10px; /* Position it at the left */
      padding: 5px 10px; 
      background-color: var(--secondary-button-color);
      color: white;
      border: none;
      border-radius: 8px;
      font-weight: 600;
      cursor: pointer;
      font-weight: bold;
      transition: background-color 0.2s;
      font-size: 20px;
  }

  .toggle-profile-button:hover {
      background-color: var(--secondary-button-color);
  }

  .orders-section {
      flex: 1; /* Orders section takes the remaining space */
      width: 100%;
  }
}

.change-picture-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: var(--primary-button-color);
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.change-picture-button:hover {
  background-color: var(--primary-button-hover-color);
}


/* Desktop styling */
@media (min-width: 769px) {
  .toggle-profile-button {
      display: none; /* Hide toggle button on desktop */
  }
}